:root{
    --background: #333;
    --active: #444;
    --inactive: #555;
    --hover: #666;
    --border-color: #888;
    --active-border: #3f3fea;
    --text: #999;
    --inactive-text: #ddd;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --active: #eee;
    --inactive: #ccc;
    --hover: #ddd;
    --border-color: #888;
    --active-border: #3f3fea;
    --text: #000;
    --inactive-text: #000;
  }
}

.hellmenuLine,
.hellmenuSubLine{
    height:20px;
    cursor:pointer;
    color: var(--text);
}
.hellmenuLine:hover,
.hellmenuSubLine:hover{
     background: var(--hover);
}
.hellmenuText,
.hellmenuMenuitemIcon,
.hellmenuSubMenuitemIcon{
    height: 100%;
    float:left;
    display:block;
}
.hellmenuText,
.hellmenuMenuitemIcon{
    margin-left:8px;
}
.hellmenuText{
    font-weight:bold;
}
.hellmenuMenuitemIcon{
    width:10px;
}
.hellmenuSection{
    border-top:solid #ccc 1px;
    margin-top:4px;
    padding-top:4px;
}
.hellmenuSectionFirst{
    border-top:0 !important;
}
.hellmenuHide{
    display:none;
}
.hellmenuSubMenuitemIcon{
    width:20px;
    margin-left:16px;
}
.hellmenuSubText{
    font-weight:100;
}
