.hellmenu_line,
.hellmenu_sub_line{
    height:20px;
    cursor:pointer;
}
.hellmenu_text,  
.hellmenu_menuitem_icon,
.hellmenu_sub_menuitem_icon{
    height: 100%;
    float:left;
    display:block;
}
.hellmenu_text,  
.hellmenu_menuitem_icon{
    margin-left:8px;
}
.hellmenu_text{
    font-weight:bold;
}
.hellmenu_menuitem_icon{
    width:10px;
}
.hellmenu_section{
    border-top:solid #ccc 1px;
    margin-top:4px;
    padding-top:4px;
}
.hellmenu_hide{
    display:none;
}
.hellmenu_sub_menuitem_icon{
    width:20px;
    margin-left:16px;
}
.hellmenu_sub_text{
    font-weight:100;
}
